.imagem {

    height: 100vh;
    background-image: url("Principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex ;
    
}

.caixa{
    height:750px;
    width: 550px;
    background-color: black;
    margin: auto;
    justify-content: center;
    opacity: 0.85;
    gap: ;
    
}

.caixa h1{
    
    display: flex;
    padding: 50px;
    color:white;
    margin-left: 125px;
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 2px;
}
.nome{

    color: white;
    display: flex;
    font-size: 30px;
}


#formulario{
    width: 300px;
}

label{
    color: white;
    font-size: 15px;
    
}

    .nome{
    background-color: black;
    font-size: 25px;
}

.email{
    background-color: black;
    display: flex;
    font-size: 25px;
}

.senha{
    background-color: black;
    display: flex;
    font-size: 25px;
}

.confirma{
    background-color: black;
    display: flex;
    font-size: 25px;
}

.botoes{
    
    display: flex;
    margin-top: 20px;
    height: 40px;
}

input{
    margin-bottom: 10px;

}