@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.cdnfonts.com/css/hk-groteks');

.imagem {

    height: 90vh;
    background-image: url("Principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.imagem h1 {
    display: flex;
    color: white;
    margin-left: 12vh;
    font-family: 'Anton', sans-serif;
    padding: 8vh;
    font-size: 25px;
}

.imagem h2 {
    display: flex;
    color: white;
    font-size: 20vh;
    margin-left: 40vh;
    padding-top: 15vh;
    font-family: 'Anton', sans-serif;

}

.botao {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;


}
.principal h2{
    font-style: italic
}

.principal a {
    display: flex;
    color: black;
    margin-top: 5vh;
    background-color: yellow;
    width: 20vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'HK Grotesk', sans-serif;

}

.sobre {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgba(7, 5, 5, 0.918);
    gap: 20px;


}

.texto h3 {
    color: white;
    margin-top: 50px;
    text-decoration: underline;
    margin-left: 20vh;
    font-size: 25px;


}

.sobre h1 {

    color: yellow;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    width: 400px;
    margin-left: 20vh;
    padding-top: 7vh;


}

.sobre h2 {

    color: white;
    font-size: 30px;
    width: 500px;
    margin-left: 20vh;
    margin-top: 20px;
    font-family: 'HK Grotesk', sans-serif;
}

.images {

    display: flex;
    margin-left: 25vh;
    width: 300px;
    height: 400px;
    justify-content: space-between;
    gap: 50px;
}
.imagemfirst{
    margin-top: 50px;
}

.imagemsecond{
    margin-top: 60px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    padding: 50px 190px;
}

.endereço h1 {

    color: black;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    font-style: italic
}

.endereço h2 {

    color: black;
    font-size: 20px;
    font-family: 'HK Grotesk', sans-serif;
    margin-top: 8px;

}



.email h1 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: black;
    font-style: italic
}

.telefone h1 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: black;
    font-style: italic
}

.email h2 {
    color: black;
    font-size: 20px;
    font-family: 'HK Grotesk', sans-serif;
    margin-top: 8px;
}

.telefone h2 {
    color: black;
    font-size: 20px;
    font-family: 'HK Grotesk', sans-serif;
    margin-top: 8px;
}